.img-house {
  // background-size: cover;
  height: 400px;
}

.img-house > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-show {
  margin-top: 50px;
  margin-right: 88px;
  margin-left: 88px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.container-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 120px;
}

.container-details {
  margin: 0px 48px;
}

.other-info {
  margin-top: 24px;
}
