  <div >
    <% @flats.each do |flat| %>
      <h2><%= flat.picture%> </h2>
      <h2><%= flat.address%> </h2>
      <p> <strong><%= link_to "see more" , flat_path(flat) %></strong></p>
      </div>
    <% end %>
  </div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


