<div class="cards">
  <% @flats.each do |flat| %>
    <div class="flat">
      <%= cl_image_tag flat.picture, height: 300, width: 400, crop: :fill %>
      <div class="flat-infos">
        <% raise %>
        <div>
          <h2><%= flat.title%></h2>
          <p>$<%= flat.price%>/night</p>
        </div>
      </div>
    </div>
   <% end %>
</div>


