 <nav class="navbar navbar-light bg-white fixed-top" >
  <form class="form-inline">
    <a class="navbar-brand" href="#">
      <img src="https://storage.myfairproduct.com/production/companies/logos/000/029/461/original/airbnb.png?1479113943" style="height: 30px; width: 30px"/>
    </a>
    <input class="form-control fas mr-sm-2 shadow-sm p-4 bg-white rounded" type="search" placeholder="&#xf002;    Try for Bacelona" aria-label="Search" style="width: 450px; border-color: #d8d8d8;">
  </form>
  <div class="navbar-infos d-flex">
    <div class="nav-item active ">
      <a class="nav-link" href="/">Home</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="/flats/new">Post</a>
    </div>
    <div class="nav-item active ">

      <a class="nav-link" href="/users/sign_in">Login</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="/users/sign_up">Register</a>
    </div>
  </div>
</nav>
