.book {
  width: 100%;
  margin-top: 8px;
}

.movebutton {
float: right;
}

.width{

  width: auto;
}

.btn-logout {
  // padding: px;
  background-color: #ED545D;
  color: white;
  border-radius: 50%;
}
