.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin-bottom:200px;
  a {
    color: black;
    text-decoration: none;
  }
}

.flat:hover {
  opacity: 1;
   box-shadow: 0 10px 10px rgba(0,0,0,.1);
}


.flat {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 0px rgba(0,0,0,0.2);
  opacity: 0.85;
}

.flat > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.flat h2 {
  font-size: 20px;
  font-weight: bolder;
  opacity: .7;
  margin-bottom: 10px;
}

.flat p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
}
p .flat-pricing {
  font-size: 8px;
  opacity: .7;
  margin: 0;
}

.container-cards {
 margin: 124px 48px;
}

.flat-infos {
  padding: 10px 10px;
}

.flat-infos a {
  color: black;
}
