.container-price {
  width: 300px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 22px;
}

.price-per-night {
  display: flex;
  margin-top: 10px;
  align-items: flex-end;
  margin-bottom: 16px;
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
}

.price-per-night > p {
}

.price-per-night > h3 {
  margin-bottom: 0px;
  margin-right: 5px;
}

.dates-start {
  display: flex;
  justify-content: space-between;
}

.dates-end {
  display: flex;
  justify-content: space-between;
}

.total-price {
  display: flex;
  justify-content: space-between;
}

.total-price > p {
}
