
// .navbar-airbnb {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-airbnb .navbar-collapse {
//   flex-grow: 0;
// }

.navbar {
  padding: 20px;
  border-bottom: solid 1px #d8d8d8;
  height: 90px;
}

.nav-link {
  text-decoration: none;
  color: grey;
}

.nav-link:hover{
  color: black;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}
