
.navbar-airbnb {
  justify-content: space-between;
  background: white;
}

.navbar-airbnb .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  padding: 20px;
  border-bottom: solid 1px #d8d8d8;
}

.nav-link {
  text-decoration: none;
  color: gray;
}

.nav-link:hover{
  color: black;
}

// .form-control::placeholder{
//      font-family: "Open Sans", "Helvetica", "sans-serif";
// }

// .form-control::placeholder {
//     font-family: "FontAwesome", "Open Sans";
//   }
